.button-container {
  text-align: end;
  margin: 1rem;
}
.table-area {
  margin: 1rem;
  width: 90%;
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  // td {
  //   padding: 0.1rem;
  // }
  .column_no {
    padding-left: 0.5rem;
    width: 10%;
  }
  .column_title {
    padding-left: 0.5rem;
    width: 75%;
  }
  .column_open {
    width: 5%;
  }
  .column_delete {
    width: 5%;
  }
  .column_edit {
    width: 5%;
  }
}
