.home-container {
  box-sizing: border-box;
  flex-flow: wrap;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.card-area {
  width: 90%;
  max-width: 675px;
  margin: 0.5rem;
  mat-card-actions {
    padding-right: 1rem;
    text-align: end;
  }
}
