<div class="home-container">
  <mat-card class="example-card">
    <mat-card-title>日语50句</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>非常实用的日语短句</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigateTo('/word-card-list')">START</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>N1单词 未实装</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>开始学习</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>START</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>N1语法 未实装</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>开始学习</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>未实装</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>开始学习</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>未实装</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>开始学习</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>未实装</mat-card-title>
    <mat-card-subtitle>日语</mat-card-subtitle>
    <mat-card-content>
      <p>开始学习</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>
</div>
