<div class="home-container">
  <ng-container *ngIf="wordBookList$ | async as wordBookList">
    <mat-card class="card-area" *ngFor="let wordBook of wordBookList">
      <mat-card-title>{{ wordBook.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ wordBook.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          (click)="navigateTo('/word-card-list/' + wordBook.id)"
        >
          start
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
